@media screen and (max-width: 2000px){
    .oculto{
        visibility: hidden;
        display: none;
    }
}





@media screen and (max-width: 780px){
    .sector{
        padding-right: 50px;
    }
    
    .separador{
        display: none;
        
    }
    
    .separadordos{
        display: none;
    }
    
    .box{
        margin-left: 0;
    }
    
    .frases h2{
        font-size:40px;
    }
    
    .ocultar{
        visibility: hidden;
        display: none;
    }
    
    .oculto{
        visibility: visible;
        display: block;
        
    }
    .header-banner {
        text-align: center;
    }
    
    #menu{
        text-align: center;
    }
    
    
}